#mycart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
table{
    width: 80%;
}
th{
    text-shadow: 0px;
    color: white;
    background-color: black;
}
footer{
    margin-top: 90px;
}