* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}
body {
  background: linear-gradient(
    45deg,
    rgba(130, 205, 224, 1) 0%,
    rgba(161, 200, 219, 1) 25%,
    rgba(202, 201, 208, 1) 50%,
    rgba(246, 209, 196, 1) 75%,
    rgba(255, 221, 192, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}
header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 12s linear infinite;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

nav {
  display: flex;
  margin: 20px;
  padding-left: 10px;
  gap: 30px;
}
nav div {
  display: inline-block;
}

nav h2 {
  padding: 10px 20px;
}
nav a {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 0.3s ease, color 0.2s linear;
  will-change: transform;
}
nav a:hover {
  transform: scale(1.1);
  color: black;
}
#lvs {
  background: linear-gradient(to right, #ff0000 20%, #ffffff 40%, #ff0000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
header,
nav,
main {
  margin-bottom: 2.4rem;
}
main {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main h2{
  text-align: left;
  padding-left: 50px;
  font-size: 3rem;
}
#bestsellers {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bscard {
  background-color: blanchedalmond;
  height: 400px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.bscard img {
  height: 250px;
  width: 170px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bscard button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
}
.bscard button:hover {
  opacity: 0.85;
}
.bscard h2 {
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
#hero {
  width: 100%;
  height: 68vh;
  background: url("book images/lib2.jpg") no-repeat center center/cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}
.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 8px;
}
.hero-content p {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.hero-content button {
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: rgba(164, 38, 38, 0.871);
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease , opacity  0.2s ease;
  font-size: 24px;
}
.hero-content button:hover{
  transform: scale(1.05);
  opacity: 0.92;
}